{% extends 'base_dashboard.html' %}

{% block title %}{{ titulo_pagina }}{% endblock %}
{% block page_title %}{{ titulo_pagina }}{% endblock %}

{% block dashboard_content %}
<form method="post" class="styled-form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="form-actions">
        <a href="{% url 'gerenciar_empresas' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
{% endblock %}
