{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lummia Consultoria{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1088592580749913"
     crossorigin="anonymous"></script>
</head>
<body>

    <header class="landing-header">
        <div class="container">
            <a href="{% url 'index' %}">
                <img src="https://placehold.co/200x50/0A3D62/FFFFFF?text=Lummia&font=poppins" alt="Logo Lummia Consultoria" class="logo">
            </a>
            <nav class="main-nav">
                <a href="{% url 'index' %}">Início</a>
                <a href="{% url 'sobre' %}">Sobre Nós</a>
                <a href="{% url 'lista_noticias' %}">Notícias</a>
                
                {% if user.is_authenticated %}
                    <!-- Opções para usuários LOGADOS -->
                    <a href="{% url 'gerenciar_noticias' %}">Gerenciar Notícias</a>
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Meu Dashboard</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Sair</a>
                {% else %}
                    <!-- Opções para VISITANTES -->
                    <a href="{% url 'login' %}" class="btn btn-primary">Acessar Plataforma</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="landing-footer">
        <div class="container">
            <p>&copy; {% now "Y" %} Lummia Consultoria. Todos os direitos reservados.</p>
        </div>
    </footer>
 {% block scripts %}{% endblock %}
</body>
</html>
