{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre Nós - LumIA Consultoria{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h1>Sobre a Lummia</h1>
    </div>
</div>

<div class="container page-content">
    <p>A Lummia Consultoria nasceu da união de especialistas em saúde e tecnologia com um objetivo em comum: revolucionar a gestão de saúde através da Inteligência Artificial.</p>
    <p>Nossa missão é fornecer ferramentas inteligentes e intuitivas que capacitem gestores, médicos e equipes de saúde a tomar decisões mais rápidas, precisas e baseadas em dados, resultando em um atendimento mais eficiente e humano para o paciente.</p>
    <p>Acreditamos que a tecnologia deve servir como uma ponte para um futuro onde a gestão de recursos na saúde é otimizada, os diagnósticos são acelerados e a prevenção se torna a principal ferramenta contra doenças.</p>
</div>
{% endblock %}
